.slider-active h1 {
    color: white !important;
    text-shadow: 2px 2px 4px black;
    // display: inline-block;
    // backdrop-filter: brightness(.5) blur(5px);
    // border-radius: 10px;
}
.slider-active .theme-color {
    color: #79c03f;
}
.slider-active p {
    
    color: white !important;
    text-shadow: 2px 2px 4px black;
}