<app-cover-area title="AUTHOR" subtitle="Learn more about the developer"></app-cover-area>

    <div class="row container mx-auto justify-content-center align-items-center">
        <div id="author-portrait" class="col-10 col-md-4 p-5 p-md-2 p-lg-5">
            <img [src]="image" class="img-fluid" alt="Author"/>
        </div>
        <div id="author-info" class="col-12 col-md-8 p-5">
            <h4>Mihailo Ilić<small class="text-muted"> 41/19</small></h4>
            <p>Hi. I'm a web developer from Serbia. I've recently started studying IT/Web programming at <a href="https://ict.edu.rs/" class="primary-color redirect-link" target="_blank"><span class="fa fa-graduation-cap"></span> ICT College</a> because I've always been interested in computers and technology.</p>
            <p>Although my skills are limited at this moment, I will continuously try to improve them through my studies, projects etc. You can check my recent projects and learn more about me by visiting my portfolio website.</p>
            <a href="https://mihailoilic.github.io/portfolio" class="redirect-link my-primary-button p-2 text-white" target="_blank"><span class="ion-ios-world-outline"></span> My portfolio website</a>
        </div>
    </div>