<h4>{{ isEdit ? "Edit " : "Add New "}}Product</h4>

<form class="mt-5" *ngIf="isReady" [formGroup]="form">

    <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
        <mat-error *ngIf="form.get('title') as control">
            <ng-container *ngIf="control.hasError('required')">
                This field is required
            </ng-container>
            <ng-container *ngIf="control.hasError('minlength')">
                Minimum 3 characters
            </ng-container>
            <ng-container *ngIf="control.hasError('maxlength')">
                Maximum 50 characters
            </ng-container>
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error *ngIf="form.get('description') as control">
            <ng-container *ngIf="control.hasError('required')">
                This field is required
            </ng-container>
            <ng-container *ngIf="control.hasError('minlength')">
                Minimum 20 characters
            </ng-container>
        </mat-error>
    </mat-form-field>

    <div class="d-flex align-items-end">
        <div *ngIf="isEdit">
            <img class="product-image" [src]="data.product.image.src" [alt]="data.product.image.alt">
        </div>
        <div class="w-100">
            <small class="ps-2">{{ isEdit ? "Change Image (optional)" : "Image*" }}</small>
            <input #file type="file" class="imageFile" (change)="setFilePath(file.value)" />
        </div>
    </div>

    <mat-form-field appearance="fill" class="pt-4">
        <mat-label>Category</mat-label>
        <mat-select formControlName="categoryId" (selectionChange)="setSpecifications()">
            <mat-option value="">Select category...</mat-option>
            <mat-option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="form.get('categoryId') as control">
            <ng-container *ngIf="control.hasError('required')">
                Category is required
            </ng-container>
        </mat-error>
    </mat-form-field>

    <div *ngIf="!specifications.length" class="small text-muted pb-4">Select category to see specifications.</div>

    <div class="row" *ngIf="specifications.length && setSpecIterator()" formArrayName="specificationValueIds">
        <h5>Specifications</h5>
        <div *ngFor="let spec of specifications" class="p-3 col-12 col-md-6">
            <p>{{ spec.name }}</p>
            <div *ngFor="let value of spec.values">
                <mat-checkbox [formControlName]="getSpecIterator()">
                    {{ value.value }}
                </mat-checkbox>
            </div>
        </div>
    </div>

    <div *ngIf="currencies.length" formArrayName="prices">
        <h5 class="py-2">Prices</h5>
        <div *ngFor="let c of currencies; index as i">
            <mat-form-field appearance="fill">
                <mat-label>{{ c.isoCode }}</mat-label>
                <input matInput type="number" min="0" [formControlName]="i" />
            </mat-form-field>
        </div>
    </div>

    <div class="ptb-20">
        <button class="my-primary-button p-2 px-3 m-0 rounded-0" 
        [disabled]="form.invalid || (!isEdit && !filePath)" 
        (click)="submit()">Submit</button>
    </div>
    
</form>

<div class="text-danger" *ngIf="errorMsg" [innerHTML]="errorMsg"></div>