<div>
    <div class="bg-white mx-auto">
        <div class="p-5">                
            <form class="mt-5" [formGroup]="formService.form">

                <mat-form-field appearance="fill">
                    <mat-label>Username</mat-label>
                    <input matInput formControlName="username">
                    <mat-error *ngIf="formService.form.get('username') as control">
                        <ng-container *ngIf="control.hasError('required')">
                            This field is required
                        </ng-container>
                        <ng-container *ngIf="control.hasError('minlength')">
                            Minimum 3 characters
                        </ng-container>
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput formControlName="password">
                    <mat-error *ngIf="formService.form.get('password') as control">
                        <ng-container *ngIf="control.hasError('required')">
                            This field is required
                        </ng-container>
                        <ng-container *ngIf="control.hasError('minlength')">
                            Minimum 3 characters
                        </ng-container>
                    </mat-error>
                </mat-form-field>

                <div class="contact-form-style">
                    <button type="submit" class="my-primary-button p-3 m-0 rounded-0" [disabled]="formService.form.invalid" (click)="send()"><span>Login</span></button>
                </div>

            </form>

            <div class="text-danger pt-3" *ngIf="errorMsg"> {{ errorMsg }}</div>
            <div class="text-success pt-3" *ngIf="isRegistration">Successful registartion. You can login.</div>

        </div>
    </div>
</div>